.red { background-color: red; }
.blue { background-color: blue; }
.green { background-color: green; }
.yellow { background-color: yellow; }
.purple { background-color: purple; }
.orange { background-color: orange; }
.pink { background-color: pink; }
.black { background-color: black; }
.white { background-color: white; }
